# Chapter 2 - Data Preparation Basics
## Segment 2 - Treating missing values

In [2]:
import numpy as np
import pandas as pd 

from pandas import Series, DataFrame

### Figuring out what data is missing

In [3]:
np.random.seed(25)
DF_obj = pd.DataFrame(np.random.rand(25).reshape(5,5), index=['row 1','row 2','row 3','row 4','row 5'], columns=['column 1','column 2','column 3','column 4','column 5'])
DF_obj

       column 1  column 2  column 3  column 4  column 5
row 1  0.870124  0.582277  0.278839  0.185911  0.411100
row 2  0.117376  0.684969  0.437611  0.556229  0.367080
row 3  0.402366  0.113041  0.447031  0.585445  0.161985
row 4  0.520719  0.326051  0.699186  0.366395  0.836375
row 5  0.481343  0.516502  0.383048  0.997541  0.514244

In [18]:
DF_obj.columns = np.arange(5)
DF_obj.index = np.arange(5)

In [19]:
DF_obj

          0         1         2         3         4
0  0.870124  0.582277  0.278839  0.185911  0.411100
1  0.117376  0.684969  0.437611  0.556229  0.367080
2  0.402366  0.113041  0.447031  0.585445  0.161985
3  0.520719  0.326051  0.699186  0.366395  0.836375
4  0.481343  0.516502  0.383048  0.997541  0.514244

In [24]:
DF_obj.loc[1:3, 1] = np.nan
DF_obj.loc[3:5, 4] = np.nan

In [25]:
DF_obj

          0         1         2         3         4
0  0.870124  0.582277  0.278839  0.185911  0.411100
1  0.117376       NaN  0.437611  0.556229  0.367080
2  0.402366       NaN  0.447031  0.585445  0.161985
3  0.520719       NaN  0.699186  0.366395       NaN
4  0.481343  0.516502  0.383048  0.997541       NaN

In [27]:
filled = DF_obj.fillna(100)
filled

          0           1         2         3           4
0  0.870124    0.582277  0.278839  0.185911    0.411100
1  0.117376  100.000000  0.437611  0.556229    0.367080
2  0.402366  100.000000  0.447031  0.585445    0.161985
3  0.520719  100.000000  0.699186  0.366395  100.000000
4  0.481343    0.516502  0.383048  0.997541  100.000000

In [29]:
filled = DF_obj.fillna({1: 444, 4:555})
filled

          0           1         2         3           4
0  0.870124    0.582277  0.278839  0.185911    0.411100
1  0.117376  444.000000  0.437611  0.556229    0.367080
2  0.402366  444.000000  0.447031  0.585445    0.161985
3  0.520719  444.000000  0.699186  0.366395  555.000000
4  0.481343    0.516502  0.383048  0.997541  555.000000

### Filling in for missing values

In [30]:
DF_obj.fillna(method = 'ffill') #the value before it becomes the na value

          0         1         2         3         4
0  0.870124  0.582277  0.278839  0.185911  0.411100
1  0.117376  0.582277  0.437611  0.556229  0.367080
2  0.402366  0.582277  0.447031  0.585445  0.161985
3  0.520719  0.582277  0.699186  0.366395  0.161985
4  0.481343  0.516502  0.383048  0.997541  0.161985

In [31]:
DF_obj

          0         1         2         3         4
0  0.870124  0.582277  0.278839  0.185911  0.411100
1  0.117376       NaN  0.437611  0.556229  0.367080
2  0.402366       NaN  0.447031  0.585445  0.161985
3  0.520719       NaN  0.699186  0.366395       NaN
4  0.481343  0.516502  0.383048  0.997541       NaN

In [34]:
DF_obj.isnull().sum()

0    0
1    3
2    0
3    0
4    2
dtype: int64

### Counting missing values

### Filtering out missing values